@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import "./styles/global.scss";

*, *::after, *::before { box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
    background-color: $eerie-black;
    font-family: "Inter", sans-serif;

    .container {
        @include container;
    }
}

